body{
    font-family: Exo;
    font-size: 14px;
    color:#000;
    font-weight: 700;
    margin: 0; padding: 0;
}

[data-container]{
    border: 2px solid #f00;
    border-bottom: 100px solid #f00;
    width:1000px;
    height: 3000px;
    margin: 0 auto;
   position: relative;
}

.flt{
    float: right;
    border: 2px solid #00f;
    width: 200px;
    height: 500px;
}



#menu {
    width: 100%;
    background-color: blue;
    margin-bottom: 200px;
}
    #menu ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }
        #menu li {
            color: cornsilk;
            cursor: pointer;
            padding: 20px 10px;
            position: relative;
        }
            #menu li:nth-child(3) ul {
                display: none;
                background-color: #d4d4d4;
                height: 0px;
                transition: height 2s linear;
                position: absolute;
                top:58px;
                height:0px;
            }
            #menu li:nth-child(3):hover ul {
                display: block;
                padding: 0;
                width: 130px;
                height: 140px;
            }
                #menu li:nth-child(3):hover li{
                    padding:10px 10px;
                    margin: 0;
                    color: rgb(13, 24, 177);
                }

                #menu li:nth-child(3) li:hover{
                    background-color: #3f3ff0;
                    color:#fff;
                }


.lightbox img{
    cursor: pointer;
}

.modal{
    display: none;
    background-color:rgba(29, 29, 29, 0.8);
    position: fixed;
    left:0; right:0; top:0; bottom:0;
    transition: all ease 1s;
    
}

.md{
    display: flex;
    justify-content: center;
    align-items: center; 
    border:0px solid #fff;
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    
}
    .md .img{
        width: 500px;
        border:10px solid #fff;
        box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.322);
    }
        .img img{
            width: 100%;
            display: block;
            cursor: pointer;
            opacity: 0;
        }





.zoom{
    background-image:url("../banner2.jpg");
    background-position: center;
    background-size: 100%;
    width: 500px;
    height: 300px;
    transition: all 1s ease-in-out;
}

.zoom:hover{
    background-position: center;
    background-size: 120%;
    transition: all ease 1s;
}



